- content_for(:title, 'Reset password')

%main.govuk-main-wrapper#main-content{role: 'main'}
  - if @error_message
    .govuk-error-summary{'aria-labelledby': 'error-summary-title', 'data-module': 'error-summary', role: 'alert', tabindex: '-1'}
      %h2#error-summary-title.govuk-error-summary__title
        There is a problem
      .govuk-error-summary__body
        %ul.govuk-list.govuk-error-summary__list
          %li
            %a{href: "##{@error_type}-error"}= @error_message

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Update your password
      %p You should receive a confirmation code on your email address. Please enter the confirmation code and your new password below. Your password should be at least 8 characters long.
      = form_tag password_updated_path, method: :get do
        .govuk-form-group{class: ('govuk-form-group--error' if @error_type == 'confirmation_code')}
          %input{name: 'email', type: 'hidden', value: params['email']}
          %label#confirmation_code-hint.govuk-label{ for: 'confirmation_code' }
            Confirmation code
          %span#confirmation_code-error.govuk-error-message
            - if @error_type == 'confirmation_code'
              %span.govuk-visually-hidden Error:
              = @error_message
          %input#confirmation_code.govuk-input{'aria-labelledby': 'confirmation_code-hint', 'aria-describedby': 'confirmation_code-error', name: 'confirmation_code', type: 'text', value: params[:confirmation_code], class: ('govuk-input--error' if @error_type == 'confirmation_code')}

        .govuk-form-group{class: ('govuk-form-group--error' if @error_type == 'password')}
          %label#password-hint.govuk-label{ for: 'password' }
            Password
          %span#password-error.govuk-error-message
            - if @error_type == 'password'
              %span.govuk-visually-hidden Error:
              = @error_message
          %input#password.govuk-input{'aria-labelledby': 'password-hint', 'aria-describedby': 'password-error', name: 'password', type: 'text', value: params[:password], class: ('govuk-input--error' if @error_type == 'password')}

        .govuk-form-group{class: ('govuk-form-group--error' if @error_type == 'password_confirmation')}
          %label#password_confirmation-hint.govuk-label{ for: 'password_confirmation' }
            Password confirmation
          %span#password_confirmation-error.govuk-error-message
            - if @error_type == 'password_confirmation'
              %span.govuk-visually-hidden Error:
              = @error_message
          %input#password_confirmation.govuk-input{'aria-labelledby': 'password_confirmation-hint', 'aria-describedby': 'password_confirmation-error', name: 'password_confirmation', type: 'text', value: params[:password_confirmation], class: ('govuk-input--error' if @error_type == 'password_confirmation')}
        %br
        = submit_tag 'Reset password', 'data-role' => 'button', class: 'govuk-button'
