%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      - if @job_errors
        = render 'upload/job_errors'
      - elsif alert
        = render 'shared/errors'
      %h1.govuk-heading-m
        Welcome to the Taxi and PHV Data Portal
      %p
        You can use this service to upload and manage information about Taxis and PHVs in your licensing authority.
      %h1.govuk-heading-m
        Uploading your Taxi and PHV data
      %p
        You’ll need to provide your data as a .CSV file and in a valid format.
        Otherwise your taxi and PHV data will not be uploaded into the service.
        Full details for formatting your data are provided within the
        = succeed '.' do
          = link_to('data rules',  data_rules_upload_index_path)

      = form_tag(import_upload_index_path, multipart: true) do
        .govuk-form-group{class: ('govuk-form-group--error' if alert)}
          %label.govuk-label{for: "file-upload-1"}
            Upload a file
          - if alert
            %span#govuk-error-message.govuk-error-message
              %span.govuk-visually-hidden Error:
              = alert
          %input#file-upload-1.govuk-file-upload{class:('govuk-file-upload--error' if alert),
                                                 'aria-describedby': 'file-upload-1',
                                                 name: 'file',
                                                 type: 'file'}
        .govuk-form-group
          = submit_tag 'Upload', class: 'govuk-button', 'data-module': 'govuk-button'
