.govuk-error-summary{'aria-labelledby': 'error-summary-title',
                     'data-module': 'govuk-error-summary',
                     role: 'alert',
                     tabindex: '-1'}
  %h2#error-summary-title.govuk-error-summary__title
    There is a problem
  .govuk-error-summary__body
    %ul.govuk-list.govuk-error-summary__list
      - if alert.respond_to?(:each_with_index)
        - alert.each_with_index do |(key,value), index|
          %li= link_to(value, "##{key}-error", id: "#{key}-#{index}")
      - else
        %li= link_to(alert, '#govuk-error-message', id: 'error-message')
