- title_and_header = 'Update your password'
- content_for(:title, title_and_header)

= link_to 'Back', @back_button_url, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  - if alert
    = render 'shared/errors_summary'

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l= title_and_header
      %p Please enter your new password below
      = form_for(User.new, url: change_passwords_path, method: :post, html: {autocomplete: 'off'}) do |f|
        =f.hidden_field(:username, value: @username)
        =f.hidden_field(:token, value: @token)

        .govuk-form-group{class: ('govuk-form-group--error' if alert && alert['password'].present?)}
          =f.label :password, class: 'govuk-label'
          .span.govuk-hint 
            Must be at least 8 characters long, include at least 1 upper case letter and a number
          %span.govuk-error-message{id: 'password-error'}
            - if alert && alert['password'].present?
              %span.govuk-visually-hidden Error:
              = alert['password']
          =f.password_field :password, class: "govuk-input govuk-!-width-two-thirds #{'govuk-input--error' if alert && alert['password_confirmation'].present?}"

        .govuk-form-group{class: ('govuk-form-group--error' if alert && alert['password_confirmation'].present?)}
          =f.label :password_confirmation, class: 'govuk-label'
          %span.govuk-error-message{id: 'password_confirmation-error'}
            - if alert && alert['password_confirmation'].present?
              %span.govuk-visually-hidden Error:
              = alert['password_confirmation']
          =f.password_field :password_confirmation, class: "govuk-input govuk-!-width-two-thirds #{'govuk-input--error' if alert && alert['password_confirmation'].present?}"

        %br
        = f.submit 'Update password', class: 'govuk-button', 'data-module': 'govuk-button'
