= link_to 'Back', reset_passwords_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  - if alert
    = render 'shared/errors'

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Update your password
      %p You should receive a confirmation code on your email address. Please enter the confirmation code and your new password below.
      %p
        Your password should:
      %ul.govuk-list-govuk-list--bullet
        %li
          %p Be at least 8 characters long
        %li
          %p Include at least one upper case letter
        %li
          %p Include at least one number
      = form_for(User.new, url: change_passwords_path, method: :post, html: { autocomplete: "off" }) do |f|
        =f.hidden_field(:username, value: @username)
        .govuk-form-group{class: ('govuk-form-group--error' if alert&.include?('code'))}
          =f.label :confirmation_code, class: 'govuk-label'
          %span#govuk-error-message.govuk-error-message
            - if alert&.include?('code')
              %span.govuk-visually-hidden Error:
              = alert
          =f.text_field :confirmation_code, class: "govuk-input #{'govuk-input--error' if alert&.include?('code')}"
        .govuk-form-group{class: ('govuk-form-group--error' if alert&.include?('password'))}
          =f.label :password, class: 'govuk-label'
          %span.govuk-error-message
            - if alert&.include?('password')
              %span.govuk-visually-hidden Error:
              = alert
          =f.password_field :password, class: "govuk-input #{'govuk-input--error' if alert&.include?('password')}"
        .govuk-form-group{class: ('govuk-form-group--error' if alert&.include?('password'))}
          =f.label :password_confirmation, class: 'govuk-label'
          %span.govuk-error-message
            - if alert&.include?('password')
              %span.govuk-visually-hidden Error:
              = alert
          =f.password_field :password_confirmation, class: "govuk-input #{'govuk-input--error' if alert&.include?('password')}"
        %br
        = f.submit 'Update password', class: 'govuk-button', 'data-module': 'govuk-button'
