%main.govuk-main-wrapper--auto-spacing#main-content{role: 'main'}
  %fieldset.govuk-fieldset
    %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
      %h1.govuk-heading-l Setup your new password
      - if @error
        .govuk-error-summary{'aria-labelledby': 'error-summary-title',
                             'data-module': 'govuk-error-summary',
                             role: '@error',
                             tabindex: '-1'}
          %h2#error-summary-title.govuk-error-summary__title
            There was a problem
          .govuk-error-summary__body
            %ul.govuk-list.govuk-error-summary__list
              - if @error[:link]
                %li
                  = link_to(@error[:base_message], '#govuk-error-message')
              - else
                %li.custom-csv-error
                  = @error[:base_message]

      %p
        You are logging in for the first time. For security reasons please update your password.
      %p
        Please enter new password below. It should be at least 8 characters long, include at least one upper case letter and a number.

      = form_for(current_user, url: passwords_path, method: :post) do |f|
        - %i[password password_confirmation].each do |field|
          = render(@error && @error[field] ? 'passwords/errored_field' : 'passwords/input_field', form: f, field: field)
        .govuk-form-group
          = f.submit 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
