- title_and_header = 'Reset password'
- content_for(:title, title_and_header)

= render 'shared/js_back_link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  - if alert
    = render 'shared/errors'

  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l= title_and_header
      %p Enter your email to reset password
      = form_for(User.new, url: submit_reset_your_password_passwords_path, method: :post,
        html: {autocomplete: 'off', novalidate: 'novalidate'}) do |f|
        .govuk-form-group{class: "govuk-!-width-two-thirds #{('govuk-form-group--error' if alert)}"}
          =f.label :username, 'Email', class: 'govuk-label'
          %span#govuk-error-message.govuk-error-message
            - if alert
              %span.govuk-visually-hidden Error:
              = alert
          = f.email_field :username,
                          maxlength: 45,
                          spellcheck: false,
                          class: "govuk-input #{'govuk-input--error' if alert}"
        %br
        = f.submit 'Reset password', class: 'govuk-button', 'data-module': 'govuk-button'
