%main.govuk-main-wrapper#main-content{role: 'main'}
  %fieldset.govuk-fieldset
    %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
      %h1.govuk-heading-l Sign In
      - if alert
        .govuk-error-summary{'aria-labelledby': 'error-summary-title',
                             'data-module': 'govuk-error-summary',
                             role: 'alert',
                             tabindex: '-1'}
          %h2#error-summary-title.govuk-error-summary__title
            There was a problem
          .govuk-error-summary__body
            %ul.govuk-list.govuk-error-summary__list
              %li
                = link_to('The email or password you entered is incorrect', '#govuk-error-message', id: 'error-message')

      %p
        If you do not have an account, please email us at
        = mail_to "TaxiandPHVCentralised.Database@defra.gov.uk", "TaxiandPHVCentralised.Database@defra.gov.uk", class: 'govuk-link'

      = form_for(resource, as: resource_name, url: session_path(resource_name), html: {novalidate: 'novalidate'}) do |f|
        .govuk-form-group{class: ('govuk-form-group--error' if alert)}
          = f.label :username, 'Email', class: 'govuk-label'
          %span#govuk-error-message.govuk-error-message
            - if alert
              %span.govuk-visually-hidden Error:
              = 'Enter your email'
          = f.email_field :username,
            autofocus: true,
            autocomplete: 'username',
            maxlength: 45,
            spellcheck: false,
            class: "govuk-input govuk-!-width-two-thirds #{'govuk-input--error' if alert}"

        .govuk-form-group{class: ('govuk-form-group--error' if alert)}
          = f.label :password, class: 'govuk-label'
          %span.govuk-error-message
            - if alert
              %span.govuk-visually-hidden Error:
              Enter your password
          = f.password_field :password, autocomplete: 'current-password',
            class: "govuk-input govuk-!-width-two-thirds #{'govuk-input--error' if alert}"

        .govuk-form-group
          = f.submit 'Continue', class: 'govuk-button', 'data-module': 'govuk-button'
          %p
            = link_to 'Forgot your password?', reset_passwords_path, class: 'govuk-link', id: 'forgot-password'
