%main.govuk-main-wrapper#main-content{role: 'main'}
  %fieldset.govuk-fieldset
    %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
      %h1.govuk-heading-l Sign In
      - if alert
        = render 'shared/errors'

      %p
        If you do not have an account, please email us at
        = mail_to "TaxiandPHVCentralised.Database@defra.gov.uk", "TaxiandPHVCentralised.Database@defra.gov.uk", class: 'govuk-link'

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .govuk-form-group{class: ('govuk-form-group--error' if alert)}
          = f.label :username, class: 'govuk-label'
          %span#govuk-error-message.govuk-error-message
            - if alert
              %span.govuk-visually-hidden Error:
              Use correct username
          = f.text_field :username, autofocus: true, autocomplete: 'username', class: "govuk-input govuk-!-width-two-thirds #{'govuk-input--error' if alert}"
        .govuk-form-group{class: ('govuk-form-group--error' if alert)}
          = f.label :password, class: 'govuk-label'
          %span.govuk-error-message
            - if alert
              %span.govuk-visually-hidden Error:
              Use correct password
          = f.password_field :password, autocomplete: 'current-password', class: "govuk-input govuk-!-width-two-thirds #{'govuk-input--error' if alert}"
        .govuk-form-group
          = f.submit 'Continue', class: 'govuk-button'
          %p= link_to 'Forgot your password?', reset_password_path, class: 'govuk-link'
