- @errors = flash[:errors] || (alert && { 'email' => alert })

%main.govuk-main-wrapper#main-content{role: 'main'}
  %fieldset.govuk-fieldset
    %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
      %h1.govuk-heading-xl Taxi and PHV Data Portal

      %h2.govuk-heading-l Sign in

      - if @errors
        .govuk-error-summary{'aria-labelledby': 'error-summary-title',
                     'data-module': 'govuk-error-summary',
                     role: 'alert',
                     tabindex: '-1'}
          %h2#error-summary-title.govuk-error-summary__title
            There was a problem
          .govuk-error-summary__body
            %ul.govuk-list.govuk-error-summary__list
              - @errors.values.each do |value|
                %li
                  = link_to(value, '#govuk-error-message', id: 'error-message')

      %p
        If you want to set up an account or need support email us at
        = mail_to support_service_email, support_service_email, class: 'govuk-link'

      = form_for(resource, as: resource_name, url: session_path(resource_name), html: {novalidate: 'novalidate'}) do |f|
        .govuk-form-group{class: ('govuk-form-group--error' if @errors)}
          = f.label :username, 'Email', class: 'govuk-label'
          %span#govuk-error-message.govuk-error-message
            - if @errors
              %span.govuk-visually-hidden Error:
              = @errors['email']
          = f.email_field :username,
                          autofocus: true,
                          autocomplete: 'username',
                          maxlength: 45,
                          spellcheck: false,
                          class: "govuk-input govuk-!-width-two-thirds #{'govuk-input--error' if @errors}"

        .govuk-form-group{class: ('govuk-form-group--error' if @errors)}
          = f.label :password, class: 'govuk-label'
          %span.govuk-error-message
            - if @errors
              %span.govuk-visually-hidden Error:
              = @errors['password'] || @errors['email']
          = f.password_field :password,
                              autocomplete: 'current-password',
                              class: "govuk-input govuk-!-width-two-thirds #{'govuk-input--error' if @errors}"

        .govuk-form-group
          = f.submit 'Continue', class: 'govuk-button', 'data-module': 'govuk-button', id: 'sign_in_button'
          %p
            = link_to 'Forgot your password?', reset_passwords_path, class: 'govuk-link', id: 'forgot-password'
