%main.govuk-main-wrapper#main-content{role: 'main'}
  %fieldset.govuk-fieldset
    %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
      %h1.govuk-heading-l Sign In

      - if alert
        = render 'shared/errors'

      %p
        If you do not have an account, please email us at
        %a.govuk-link{href: '#'} xyz@email.com.

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .govuk-form-group
          = f.label :username, class: 'govuk-label'
          = f.text_field :username, autofocus: true, autocomplete: 'username', class: 'govuk-input govuk-!-width-two-thirds'
        .govuk-form-group
          = f.label :password, class: 'govuk-label'
          = f.password_field :password, autocomplete: 'current-password', class: 'govuk-input govuk-!-width-two-thirds'
        .govuk-form-group
          = f.submit 'Continue', class: 'govuk-button'
