- title_and_header = 'Search the taxi register'
- content_for(:title, title_and_header)

= link_to 'Back', authenticated_root_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds

      - if @errors.present?
        .govuk-error-summary{'aria-labelledby': 'error-summary-title',
                             'data-module': 'govuk-error-summary',
                             role: 'alert',
                             tabindex: '-1'}
          %h2#error-summary-title.govuk-error-summary__title
            There is a problem
          .govuk-error-summary__body
            %ul.govuk-list.govuk-error-summary__list
              %li
                - remove_duplicated_messages(@errors.slice(:vrn, :historic, :start_date, :end_date)).each_with_index do |error, index|
                  %li.custom-csv-error
                    = link_to(error.first, "##{error.second}_error", id: "#{error.second}-#{index}")

      %h1.govuk-heading-xl
        = title_and_header

      = form_for('search', url: search_vehicles_path, method: :post) do |form|
        = render 'vehicles/vrn_input', form: form
        = render 'vehicles/date_range', form: form
        %p= submit_tag 'Continue',
                    class: 'govuk-button',
                    'data-module': 'govuk-button',
                    id: 'search_button'
